---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<h1>Coobeeyon Development Limited</h1>
		<p><i>We heart software! You should consider paying us to write some for you!</i>

		<hr>

		<h2>Where are we?</h2>
		<p>
			This is the digital headquarters of <b>Michael Daum</b> and Coobeeyon Development Limited.
			I've always loved making software tools that are useful to talented folks. I did it for a long
			time at companies for money. And it was good.  But now I do it freelance and I like it a lot!


		<hr>

		<h3>Selected Experiments &amp; Obsessions</h3>
		<ul>
			<li><a href=https://farcaster.xyz/coobeeyon><b>Capitalist AI Art Bot:</b> A very fun project involving autonomous agents, generative art, and the market. (Blog post coming soon).
			<li><a href=https://github.com/coobeeyon/Asteroids><b>Genetic Asteroids:</b></a> Evolution Revolution
		</ul>

		<h3>pAIr Programming Tools</h3>
		<ul>
			<li><a href=https://github.com/coobeeyon/litebrite><b>litebrite:</b></a> This is my version of Steve Yegge's <a href=https://github.com/steveyegge/beads>beads</a> tool. It does a lot less and has a lot less code. Works nice for me.
			<li><a href=https://github.com/coobeeyon/ralph_harness><b>ralph_harness</b></a>
		</ul>

		<p>
			Check out my <a href="/blog">Blog</a> for more technical deep-dives into the madness, or
			head over to the <a href="/about">About</a> page to see if I'm the right kind of "grown-up"
			for your next project.

		<hr>

		<p>
			Best viewed in Netscape Navigator 3.0 at 800x600 resolution.

		<Footer />
	</body>
</html>
